---
extends: airbnb-base
parser: babel-eslint
plugins:
  - async-await

env:
  node: true
  mocha: true

rules:
  max-len: 1
  complexity:
    - 1
    - max: 10

  newline-per-chained-call: 1
  no-param-reassign: 1

  async-await/space-after-async: 2
  async-await/space-after-await: 2
